body {
    background-color: rgb(61, 61, 61);
    height: 300px;
    width: 233px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.selectRGB {
    flex-direction: row; 
    display: flex;
}

.rgb {
    width: 55px;
    margin-right: 5px;
    height: 22px;
}

button {
    margin-top: 5px;
}
